<div id="wrapper">
    <div class="content">
        <div class="container">
            <%- include('../partials/header.ejs') %>
            <%- include('../partials/errormessage.ejs') %>
        </div>
        <%- include('../partials/dashboard.ejs') %>
        <div>
            <form action="/auth/details" method="POST">
                <%- include('../partials/detailFormFields.ejs') %>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </div>
</div>