<div id="wrapper">
    <div class="content">
        <div class="container">
            <%- include('../partials/header.ejs') %>
            <%- include('../partials/errormessage.ejs') %>
        </div>
        <%- include('../partials/dashboard.ejs') %>
        <div>
            <div class="row">
                <div style="width: 30%; margin: 25px auto;">
                    <form action="/request/new" method="post">
                        <%- include('../partials/request_partials.ejs') %>
                    </form>
                    <a href="/">Go Back</a>
                </div>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
    </div>
    <div class="background" id="map">
    </div>
</div>